SocialDistancingApp-main/Node-RED-flows
[{"id":"8eae7830.6471f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"8eae7830.6471f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":140,"y":40,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"8eae7830.6471f8","name":"","active":true,"console":"false","complete":"false","x":390,"y":40,"wires":[]},{"id":"632fb625.3fad28","type":"ui_template","z":"8eae7830.6471f8","group":"56833d12.060af4","name":"Covid-Queries","order":1,"width":0,"height":0,"format":"<div>\n    <H2><a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=547510d9-6ded-4e5a-87ef-9d7fc23798e7&serviceInstanceID=60de2d85-d0b3-41e3-98fe-fb16ab24d5ce\"><span>Click here for any queries about Covid-19</span></a></H2>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":220,"wires":[[]]},{"id":"4ac08e53.8d09f","type":"ui_dropdown","z":"8eae7830.6471f8","name":"","label":"Location","tooltip":"","place":"Select option","group":"d56abe14.4b6c8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Tata Steels","value":"Tata Steels","type":"str"},{"label":"Spar Super Market","value":"Spar Super Market","type":"str"},{"label":"Loreal Beauty Parlour","value":"Loreal Beauty Parlour","type":"str"},{"label":"Corner House","value":"Corner House","type":"str"}],"payload":"","topic":"","x":240,"y":120,"wires":[["ce3a9733.040be8"]]},{"id":"81ee15cd.9f3298","type":"ui_date_picker","z":"8eae7830.6471f8","name":"","label":"Date ","group":"d56abe14.4b6c8","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":120,"wires":[["4ac08e53.8d09f"]]},{"id":"ce3a9733.040be8","type":"switch","z":"8eae7830.6471f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Tata Steels","vt":"str"},{"t":"eq","v":"Spar Super Market","vt":"str"},{"t":"eq","v":"Loreal Beauty Parlour","vt":"str"},{"t":"eq","v":"Corner House","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":120,"wires":[["6bfdd93b.5440c8"],["5a9b5218.bd15dc"],["f17ed47e.4ba6a8"],["7e36959.059276c"]]},{"id":"9be99fd0.ab5f8","type":"visual-recognition-v3","z":"8eae7830.6471f8","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":390,"y":400,"wires":[["71d5672.e83bd98"]]},{"id":"a681e71b.a50638","type":"http in","z":"8eae7830.6471f8","name":"","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["10a3a682.51e8c9"]]},{"id":"10a3a682.51e8c9","type":"switch","z":"8eae7830.6471f8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":300,"wires":[["2f494393.c429ec"],["3225cc35.b17624"]]},{"id":"2f494393.c429ec","type":"template","z":"8eae7830.6471f8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Checking Crowd</title></head>\n<body>\n<h1>Checking Crowd in chosen location</h1>\n    <h2>Select an image URL</h2>\n    <h3>1)Tata Steels</h3>\n    <h3>2)Spar Super Market</h3>\n    <h3>3)Loreal Beauty Parlour</h3> \n    <h3>4)Apollo Hospital</h3>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/1.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n        <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n        \n        <br/>Copy above image location URL<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n</body>\n</html>","x":540,"y":260,"wires":[["65fa4dbd.e7e7d4"]]},{"id":"71d5672.e83bd98","type":"template","z":"8eae7830.6471f8","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Checking Crowd</title></head>\n<body>\n<h1>Crowd Checking in the chosen location</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":550,"y":340,"wires":[["65fa4dbd.e7e7d4","55f1d74.00d7e28"]]},{"id":"3225cc35.b17624","type":"change","z":"8eae7830.6471f8","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":400,"wires":[["9be99fd0.ab5f8"]]},{"id":"945bed43.327f3","type":"comment","z":"8eae7830.6471f8","name":"!!Make sure you bind Visual Recognition Service to Node-RED App!!","info":"When running in BlueMix, the credentials for the service will be filled-in from BMix credentials management.\nFor this to work, the Visual Recognition Service has to be bound to the Node-RED application.\n","x":460,"y":840,"wires":[]},{"id":"65fa4dbd.e7e7d4","type":"http response","z":"8eae7830.6471f8","name":"HTTP Response","statusCode":"","headers":{},"x":760,"y":320,"wires":[]},{"id":"55f1d74.00d7e28","type":"debug","z":"8eae7830.6471f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"3bec8a1b.591566","type":"ui_template","z":"8eae7830.6471f8","group":"d56abe14.4b6c8","name":"","order":3,"width":0,"height":0,"format":"<div>\n    <H3><a href=\"https://node-red-qnayt-2020-09-25.eu-gb.mybluemix.net/reco\"><span>Analyse</span></a></H3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":180,"wires":[[]]},{"id":"5a9b5218.bd15dc","type":"ui_toast","z":"8eae7830.6471f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Less Crowded, Safe to Travel","name":"","x":670,"y":120,"wires":[[]]},{"id":"f17ed47e.4ba6a8","type":"ui_toast","z":"8eae7830.6471f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Too Crowded, Not Safe to Travel","name":"","x":670,"y":160,"wires":[[]]},{"id":"7e36959.059276c","type":"ui_toast","z":"8eae7830.6471f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Less Crowded, Safe to Travel","name":"","x":670,"y":200,"wires":[[]]},{"id":"6bfdd93b.5440c8","type":"ui_toast","z":"8eae7830.6471f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Less Crowded, Safe to Travel","name":"","x":670,"y":80,"wires":[[]]},{"id":"56833d12.060af4","type":"ui_group","z":"","name":"Customer Queries","tab":"48dc7155.f9ab7","order":3,"disp":true,"width":"7","collapse":false},{"id":"d56abe14.4b6c8","type":"ui_group","z":"","name":"Crowd Check","tab":"48dc7155.f9ab7","order":1,"disp":true,"width":"7","collapse":false},{"id":"48dc7155.f9ab7","type":"ui_tab","z":"","name":"Social Distancing App","icon":"dashboard","disabled":false,"hidden":false}]
